
/* PIED DE PAGE*/
#nom_ input[type="text"]
{ /*le input ou le textarea*/

background-color: #fffffa; /*la couleur du champ*/

height: 25px; /*la hauteur du champ input*/

width: 110px; /* la largeur du champ input*/
}

#prenom_ input[type="text"]
{ /*le input ou le textarea*/

background-color: #fffffa; /*la couleur du champ*/

height: 25px; /*la hauteur du champ input*/

width: 160px; /* la largeur du champ input*/
}

#date_ input[type="text"]
{ /*le input ou le textarea*/

background-color: #fffffa; /*la couleur du champ*/

height: 25px; /*la hauteur du champ input*/

width: 110px; /* la largeur du champ input*/
}

#sexe_ input[type="text"]
{ /*le input ou le textarea*/

background-color: #fffffa; /*la couleur du champ*/

height: 25px; /*la hauteur du champ input*/

width: 70px; /* la largeur du champ input*/
}

#adresse_ input[type="text"]{ 

background-color: #fffffa; /*la couleur du champ*/

height: 25px; /*la hauteur du champ input*/

width: 350px; /* la largeur du champ input*/
}

#idpatient_ input[type="text"]
{ /*le input ou le textarea*/

background-color: #fffffa; /*la couleur du champ*/

height: 25px; /*la hauteur du champ input*/

width: 75px; /* la largeur du champ input*/
}

#effectuer_ input[type="hidden"]
{ /*le input ou le textarea*/

/*background-color: #fffffa; /*la couleur du champ*/

/*height: 25px; /*la hauteur du champ input*/

/*width: 245px; /* la largeur du champ input*/
}

tr:hover
{
	background: white;
}

#liste_personnel select 
{
	border-right-width: 2px;                
	border-left-width: 2px; 
	border-top-width: 2px; 
	border-bottom-width: 2px; 
	border-color: #cccccc;"
}

#titre, #titre2 {
	height: 30px;
    border: 1px solid green;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #cccccc;
    background : #fff;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top : 13px;
}

#titre_info{
	font-style: italic;
    font-family: Times  New Roman;
    font-size: 18px;
    color: green;
    margin-top: 180px;
    margin-left: 170px;
}

#contenu {
    background: #fff; max-height: 660px;
    border: 1px solid green ;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 2px solid #cccccc;
    padding-left: 25px;
}

#ajouter_naissance {
	height: 560px;
    background: #fff;
    border: 1px solid green ;
    border-top: 2px solid #cccccc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#barre_separateur {
	width: 895px;
    height: 3.5px;
    border-bottom: 3.5px solid #ccc;
    margin-top: 0px;
    margin-left: 170px;
}


#titre_info2{
	font-style: italic;
    font-family: Times  New Roman;
    font-size: 18px;
    color: green;
    margin-top: 20px;
    margin-left: 170px;
}

#barre_separateur2{
	width: 895px;
    height: 3.5px;
    border-bottom: 3.5px solid #ccc;
    margin-top: 0px;
    margin-left: 170px;
}

#barre_vertical{
	width:2px;
    height: 210px;
    float: left;
    margin-right: 2px;
    margin-left: 10px;
    background-color: #cccccc;
    margin-top:30px;
}

#menu{
	width:30px;
    height: 150px;
    float: left;
    margin-right: 2px;
    background-color: #ffffff;
    margin-top:30px;
}

#terminer_annuler{
	float: left;
	width: 200px;
    height: 40px;
    margin-left: 490px;
    margin-top: 10px;
}

.vider_formulaire,.modifer_donnees,.supprimer_photo,.ajouter_photo{
              position:relative;
              width:32px;
              height:32px;
              display: inline;float:right;border:transparent; margin-top: 40px; margin-right: 25px;
         } 
.vider_formulaire {
	          background: url("/simens_derniereversion/public/images_icons/annuler.PNG") no-repeat right top;
               
         }
.modifer_donnees {
	          background: url("/simens_derniereversion/public/images_icons/modifier.png") no-repeat right top;
               
         }
.supprimer_photo {
	          background: url("/simens_derniereversion/public/images_icons/mod.png") no-repeat right top;
               
         }
.ajouter_photo {
	          background: url("/simens_derniereversion/public/images_icons/ajouterphoto.png") no-repeat right top;
               
         }
.vider_formulaire input, .modifer_donnees input, .ajouter_photo input, .supprimer_photo input{
              position:absolute;
              right:0;
              top:0;
              font-size:100px;
              opacity:0;
              -moz-opacity:0;
              filter:alpha(opacity=0);
              cursor:pointer;
              text-align:right; 
              width:32px;
              height:32px;
         }

#photo, #modifier_photo  /*photo*/
{

width: 100px;

float: left;

border-top-width: 10px;

border-right-width: 10px;

border-right-width-ltr-source: physical;

border-right-width-rtl-source: physical;

border-bottom-width: 10px;

border-left-width: 10px;

border-left-width-ltr-source: physical;

border-left-width-rtl-source: physical;

border-top-style: solid;

border-right-style: solid;

border-right-style-ltr-source: physical;

border-right-style-rtl-source: physical;

border-bottom-style: solid;

border-left-style: solid;

border-left-style-ltr-source: physical;

border-left-style-rtl-source: physical;

border-top-color: white;

border-right-color: white;

border-right-color-ltr-source: physical;

border-right-color-rtl-source: physical;

border-bottom-color: white;

border-left-color: white;

border-left-color-ltr-source: physical;

border-left-color-rtl-source: physical;

box-shadow: 0pt 0pt 12px rgba(0, 0, 0, 0.1);

}





/*-----STYLE FORMULAIRE ETAT CIVIL DU PATIENT-----*/
/*-----STYLE FORMULAIRE ETAT CIVIL DU PATIENT-----*/
/*-----STYLE FORMULAIRE ETAT CIVIL DU PATIENT-----*/
#form_patient .comment-form-patient label, #form_patient .comment-form-email label, #form_patient .comment-form-url label, #form_patient .comment-form-comment label 

{/* le label*/
line-height: 1.5em;

background-color: #eeeeee;

background-image: none;

background-repeat: repeat;

background-attachment: scroll;

background-position: 0% 0%;

background-clip: border-box;

background-origin: padding-box;

/*border-top-left-radius: 15px; */

border-top-right-radius: 15px;

background-size: auto auto;

box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);

color: #555555;

display: inline-block;

font-size: 13px;

left: 10px; /*déplacer le label*/

min-width: 60px;

padding-top: 4px;

padding-right: 10px;

padding-bottom: 4px;

padding-left: 10px;

position: relative;

top: 5px;

z-index: 1;

}

#form_patient select
{
	background-image: none;

    background-repeat: repeat;

    background-attachment: scroll;

    background-position: 0% 0%;

    background-clip: border-box;

    background-origin: padding-box;

    background-size: auto auto;

    border-top-width: 4px;

    border-right-width-value: 4px;

	border-top-right-radius: 10px;
	
    border-right-width-ltr-source: physical;

    border-right-width-rtl-source: physical;

    border-bottom-width: 4px;

    border-left-width-value: 4px;

    border-left-width-ltr-source: physical;

    border-left-width-rtl-source: physical;

    border-top-style: solid;

    border-right-style-value: solid;

    border-right-style-ltr-source: physical;

    border-right-style-rtl-source: physical;

    border-bottom-style: solid;

    border-left-style-value: solid;

    border-left-style-ltr-source: physical;

    border-left-style-rtl-source: physical;

    border-top-color: #cccccc;

    border-right-color-value: #eeeeee;

    border-right-color-ltr-source: physical;

    border-right-color-rtl-source: physical;

    border-bottom-color: #cccccc;

    border-left-color-value: #eeeeee;

    border-left-color-ltr-source: physical;

    border-left-color-rtl-source: physical;
	
	border-top-left-radius: 5px; 

    border-top-right-radius: 10px;

    border-bottom-right-radius: 5px;

    border-bottom-left-radius: 5px;

    box-shadow: 0pt 1px 3px rgba(204, 204, 204, 0.95) inset;

    position: relative;
	
	/* les cotés des champs */

    border-right-width: 2px;

    border-left-width: 2px;

    border-top-width: 2px;

    border-bottom-width: 2px;
	
	border-left-color: #cccccc;
	
	border-right-color: #cccccc;
	
	float: left;

    margin-left: 0px;
	
	margin-right: 25px;
	
	margin-bottom: 15px;

	/*enlever l'icone select*/
    /*****-webkit-appearance: none;****/
}

#form_patient option{ 
   min-width:100px;
   color:#00f;
   background-color:#eee;
   font-size: 13pt;
   overflow: auto;

}

#form_patient input[type="text"], #form_patient textarea

{ /*le input ou le textarea*/

background-image: none;

background-repeat: repeat;

background-attachment: scroll;

background-position: 0% 0%;

background-clip: border-box;

background-origin: padding-box;

background-size: auto auto;

border-top-width: 2px;

border-right-width-value: 2px;

border-right-width-ltr-source: physical;

border-right-width-rtl-source: physical;

border-bottom-width: 2px;

border-left-width-value: 2px;

border-left-width-ltr-source: physical;

border-left-width-rtl-source: physical;

border-top-style: solid;

border-right-style-value: solid;

border-right-style-ltr-source: physical;

border-right-style-rtl-source: physical;

border-bottom-style: solid;

border-left-style-value: solid;

border-left-style-ltr-source: physical;

border-left-style-rtl-source: physical;

border-right-color-value: #eeeeee;

border-right-color-ltr-source: physical;

border-right-color-rtl-source: physical;

border-left-color-value: #eeeeee;

border-left-color-ltr-source: physical;

border-left-color-rtl-source: physical;

border-top-left-radius: 5px;

border-top-right-radius: 10px;

border-bottom-right-radius: 5px;

border-bottom-left-radius: 5px;

box-shadow: 0pt 1px 3px rgba(204, 204, 204, 0.95) inset;

position: relative;

/* le texte des champs*/
padding-top: 10px;

padding-right: 10px;

padding-bottom: 10px;

margin-bottom : 15px;

margin-right: 25px;

padding-left: 10px; /* padding du text dans le champ*/

text-indent: 0px; /* alignement du text dans le champ input*/

/* balise input text*/
display: block;

height: 30px; /*la hauteur du champ input*/

width: 225px; /* la largeur du champ input*/



/*z-index: 5;*/

}

#form_patient select
{

display: block;

height: 30px;  /*la hauteur du champ input*/

width: 225px;   /*la largeur du champ input*/

}

#form_patient textarea
{
	height: 80px;
}


/****************************BOUTON************************/
#thoughtbot button
{
	background: #eeeeee;
    width:auto;
    padding:8px 0;
    text-align:center;
    display: inline-block;
    float:left;
    margin:0 8px 0 0;
    border-radius:7px;
    font-size: 0.85em;
	font-weight: bold;
    width:80px;
    color:#000;
    font-family: Arial,sans-serif;
	box-shadow: 0 0 1px rgba( 0, 0, 0, 0.2), 0 -1px 0 rgba( 255, 255, 255, 0.1);
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.3);
}

#thoughtbot button:hover
{
    background: #ccc;
    background: -webkit-linear-gradient( #eee, #aaa);
}

a{
	color: black;
}

p{
	font-family: Times  New Roman;
	color: #065d10;
}
