#titre{
	height: 30px;
    border: 3px solid #ccc;
	border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid #cccccc;
    background : #fff;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top : 13px;
    box-shadow: 0pt 0pt 12px rgba(0, 0, 0, 0.5);
}

#contenu {
    background: #fff; height: 420px;
    border: 3px solid #ccc ;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 2px solid #cccccc;
	border-bottom: 3px solid #cccccc;
    padding-left: 25px;
	padding-top: 10px;
    box-shadow: 0pt 5pt 12px rgba(0, 0, 0, 0.5);
}

#photo, #modifier_photo  /*photo*/
{

width: 105px;

float: left;

border-top-width: 10px;

border-right-width: 10px;

border-right-width-ltr-source: physical;

border-right-width-rtl-source: physical;

border-bottom-width: 10px;

border-left-width: 10px;

border-left-width-ltr-source: physical;

border-left-width-rtl-source: physical;

border-top-style: solid;

border-right-style: solid;

border-right-style-ltr-source: physical;

border-right-style-rtl-source: physical;

border-bottom-style: solid;

border-left-style: solid;

border-left-style-ltr-source: physical;

border-left-style-rtl-source: physical;

border-top-color: white;

border-right-color: white;

border-right-color-ltr-source: physical;

border-right-color-rtl-source: physical;

border-bottom-color: white;

border-left-color: white;

border-left-color-ltr-source: physical;

border-left-color-rtl-source: physical;

box-shadow: 0pt 0pt 12px rgba(0, 0, 0, 0.2);

}

canvas {
   position: relative;
   background-color: #ffffff;
   background-image: none;
   background-repeat: repeat;
   background-attachment: scroll;
   background-position: 0% 0%;
   background-clip: border-box;
   background-origin: padding-box;
   background-size: auto auto;             
   box-shadow: #dddddd;
   padding-top: 0px;
   padding-right: 0px;
   padding-bottom: 0px;
   padding-left: 0px;
                      
   height: auto;
   width: auto;
             
}

#suppr{
   alt: photo;
  /* width: 10px;
   height: 10px;*/
}

/*****LA PHOTO*******/
        .photo_patient {
              position:relative;
              width:105px;
              height:105px;
              float: left;
              margin-right:40px;
              overflow:hidden;
              background:#dddddd url("/simens/public/images_icons/identite.png") no-repeat left top;
        }
  
        .photo_patient input {
              position:absolute;
              right:0;
              top:0;
              font-size:0px;
              opacity:0;
              -moz-opacity:0;
              filter:alpha(opacity=0);
              cursor:pointer;
              text-align:right; 
              width:105px;
              height:105px;
         }
         
/*-----STYLE FORMULAIRE ETAT CIVIL DU PATIENT-----*/
/*-----STYLE FORMULAIRE ETAT CIVIL DU PATIENT-----*/
/*-----STYLE FORMULAIRE ETAT CIVIL DU PATIENT-----*/
#form_patient .comment-form-patient label, #form_patient .comment-form-email label, #form_patient .comment-form-url label, #form_patient .comment-form-comment label 

{/* le label*/
line-height: 1.5em;

background-color: #eeeeee;

background-image: none;

background-repeat: repeat;

background-attachment: scroll;

background-position: 0% 0%;

background-clip: border-box;

background-origin: padding-box;

/*border-top-left-radius: 15px; */

border-top-right-radius: 15px;

background-size: auto auto;

box-shadow: 1px 2px 2px rgba(204, 204, 204, 0.8);

color: black;

display: inline-block;

font-size: 13px;

left: 0px; /*d�placer le label*/

min-width: 60px;

padding-top: 4px;

padding-right: 10px;

padding-bottom: 4px;

padding-left: 10px;

position: relative;

top: 5px;

z-index: 1;
         
font-size: 14px;

}

#form_patient select
{
	background-image: none;

    background-repeat: repeat;

    background-attachment: scroll;

    background-position: 0% 0%;

    background-clip: border-box;

    background-origin: padding-box;

    background-size: auto auto;

    border-top-width: 4px;

    border-right-width-value: 4px;

	border-top-right-radius: 10px;
	
    border-right-width-ltr-source: physical;

    border-right-width-rtl-source: physical;

    border-bottom-width: 4px;

    border-left-width-value: 4px;

    border-left-width-ltr-source: physical;

    border-left-width-rtl-source: physical;

    border-top-style: solid;

    border-right-style-value: solid;

    border-right-style-ltr-source: physical;

    border-right-style-rtl-source: physical;

    border-bottom-style: solid;

    border-left-style-value: solid;

    border-left-style-ltr-source: physical;

    border-left-style-rtl-source: physical;

    border-top-color: #cccccc;

/*     border-right-color-value: #eeeeee; */

    border-right-color-ltr-source: physical;

    border-right-color-rtl-source: physical;

    border-bottom-color: #cccccc;

/*     border-left-color-value: #eeeeee; */

    border-left-color-ltr-source: physical;

    border-left-color-rtl-source: physical;
	
	border-top-left-radius: 5px; 

    border-top-right-radius: 10px;

    border-bottom-right-radius: 5px;

    border-bottom-left-radius: 5px;

    box-shadow: 0pt 1px 3px rgba(204, 204, 204, 0.95) inset;

    position: relative;
	
	/* les cot�s des champs */

    border-right-width: 2px;

    border-left-width: 1px;

    border-top-width: 1px;

    border-bottom-width: 2px;
	
	border-left-color: #cccccc;
	
	border-right-color: #cccccc;
	
	float: left;

	margin-right: 25px;
	
	padding-left: 10px;
	
	/*enlever l'icone select*/
    -webkit-appearance: none;
	
}

/* #form_patient option{ 
   color: green;
   background-color: #eee;
   font-size: 13pt;
   min-width: 200px;
   width: 200px;
   overflow: auto;
} */ 

#form_patient input[type="text"], #form_patient textarea, #form_patient input[type="email"]

{ /*le input ou le textarea*/

background-image: none;

background-repeat: repeat;

background-attachment: scroll;

background-position: 0% 0%;

background-clip: border-box;

background-origin: padding-box;

background-size: auto auto;

border-top-width: 2px;

border-right-width-value: 2px;

border-right-width-ltr-source: physical;

border-right-width-rtl-source: physical;

border-bottom-width: 2px;

border-left-width-value: 2px;

border-left-width-ltr-source: physical;

border-left-width-rtl-source: physical;

border-top-style: solid;

border-right-style-value: solid;

border-right-style-ltr-source: physical;

border-right-style-rtl-source: physical;

border-bottom-style: solid;

border-left-style-value: solid;

border-left-style-ltr-source: physical;

border-left-style-rtl-source: physical;

border-right-color-value: #eeeeee;

border-right-color-ltr-source: physical;

border-right-color-rtl-source: physical;

border-left-color-value: #eeeeee;

border-left-color-ltr-source: physical;

border-left-color-rtl-source: physical;

border-top-left-radius: 5px;

border-top-right-radius: 10px;

border-bottom-right-radius: 5px;

border-bottom-left-radius: 5px;

box-shadow: 0pt 1px 3px rgba(204, 204, 204, 0.95) inset;

position: relative;

/* le texte des champs*/
padding-top: 2px;

padding-right: 10px;

padding-bottom: 0px;

margin-bottom : 15px;

padding-left: 10px; /* padding du text dans le champ*/

text-indent: 0px; /* alignement du text dans le champ input*/

/* balise input text*/
display: block;

height: 30px; /*la hauteur du champ input*/

width: 87%;/*225px; /* la largeur du champ input*/

font-size: 16px;

}


#form_patient .date_naiss input[type="text"] {
	width: 90%;
}

#form_patient .age input[type="text"] {
	width: 90%;
}

#form_patient select
{

display: block;

height: 30px;  /*la hauteur du champ input*/

width: 87%;/*225px;   /*la largeur du champ input*/

}

#form_patient textarea
{
	height: 30px;
}

#form_patient input[type='email']
{
	width: 88%;
	height: 30px;
}

#form_patient input#submit
{

color: #444444;

text-shadow: none;

background-color: #eeeeee;

background-image: none;

background-repeat: repeat;

background-attachment: scroll;

background-position: 0% 0%;

background-clip: border-box;

background-origin: padding-box;

background-size: auto auto;

position: static;

padding-top: 5px;

padding-right: 22px;

padding-bottom: 5px;

padding-left: 22px;
	
float: right; 	
}

tr:hover /* Apparence au survol des lignes */
{
   /*text-decoration: underline;*/
   background-color: white;
   
}

/*MENU DROITE DU FORMULAIRE*/
.barre_vertical{
	width:2px;
    height: 300px;
    float: left;
    margin-right: 2px;
    background-color: #cccccc;
    margin-top: 5px;
}


.vider_formulaire, .supprimer_photo, .ajouter_photo, .modifer_donnees{
              position:relative;
              width:20px;
              height:20px;
              display: inline;float:left;border:transparent; margin-bottom: 5px; margin-top:5px;
         } 
.vider_formulaire {
	          background: url("/simens/public/images_icons/annuler1.PNG") no-repeat right top;
               
         }
.supprimer_photo {
	          background: url("/simens/public/images_icons/mod.png") no-repeat right top;
               
         }
.ajouter_photo {
	          background: url("/simens/public/images_icons/ajouterphoto.png") no-repeat right top;
               
         }
.modifer_donnees {
	          background: url("/simens/public/images_icons/modifier.png") no-repeat right top;
               
         }
         
.vider_formulaire input, .supprimer_photo input, .ajouter_photo input, .modifer_donnees input{
              position:absolute;
              right:0;
              top:0;
              font-size:100px;
              opacity:0;
              -moz-opacity:0;
              filter:alpha(opacity=0);
              cursor:pointer;
              text-align:right; 
              width:20px;
              height:20px;
         }
         
         
/*-----FIN STYLE FORMULAIRE ETAT CIVIL DU PATIENT-----*/
/*-----FIN STYLE FORMULAIRE ETAT CIVIL DU PATIENT-----*/
/*-----FIN STYLE FORMULAIRE ETAT CIVIL DU PATIENT-----*/

         
#thoughtbot button
{
    width:auto;
    padding:2px 0;
    text-align: center;
    display: inline-block;
    float:center;
    margin:0 5px 0 0;
    border-radius:7px;
    font-size: 0.85em;
	font-weight: bold;
    width:100px;
	height: 40px;
    color:#000;
    font-family: Arial,sans-serif;
	box-shadow: 0 0 1px rgba( 0, 0, 0, 0.8), 0 -1px 0 rgba( 255, 255, 255, 0.1);
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.3);
}

#thoughtbot button:hover
{
    background: #ccc;
    background: -webkit-linear-gradient( #eee, #aaa);
    background: -moz-linear-gradient( #eee, #aaa);
    background: -ms-linear-gradient( #eee, #aaa);
    background: -o-linear-gradient( #eee, #aaa);
    background: linear-gradient( #eee, #aaa);
}